body {
    background-color: #2a0042;
}

.dolo {
    width: 400px;
    height: 400px;
}

.prison {
    width: 500px;
    height: 350px;
}

p {
    color: white;
}

.para {
    width: 450px;
}

.block {
    width: 30px;
    height: 30px;
}

.groupie {
    width: 400px;
    height: 400px;
}

.outtie {
    width: 500px;
    height: 400px;
}